{% extends 'historiaapp/basedetailnav.html' %}

{% block title %} Details | {{ card }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <h3>Card informations</h3>

        <div class="card-deck">

            <div class="row">

                <div class="card p-3 m-3">

                    <div class="row">

                        {% if card.image %}
                        <div class="text-center shadow rounded m-3"
                        style="max-width:18rem;">
                            <img class="float-center img-fluid character-image rounded"
                            src="{{  card.image.url }}"
                            alt="Card image cap">
                        </div>
                        {% endif %}

                        <div class="card m-3 p-3 text-dark">

                            <h4 class="card-title text-dark text-lg-left">
                                {{ card.name }}
                            </h4>                

                            <p class="card-text text-dark text-sm character-text lead">
                                <small class="lead">
                                {{ card.text }}
                                </small>
                            </p>

                            <div class="card-footer text-muted">
                                Birth: 
                                {{ card.birth }}
                            </div>
                            
                        </div>
                    
                    </div>
                </div>
                
            </div>
        
        </div>

    </div>

</div>
{% endblock %}