{% extends 'historiaapp/base.html' %}

{% block title %}
Card list visualizer
{% endblock %}

{% block content %}

<div class="container">

    <div class="col-md-12">
        <h1 class="display-4 mb-2">
            Card list visualizer
        </h1>
        <hr />
    </div>

    <h5 class="card-header mb-4">
        Collection of historical characters
    </h5>
    
    <div class="card-deck">

        <!--
        * for loop section to display all characters cards.
        -->

        {% for characters in object_list %}

            <div class="col-md-4 mb-4">

                <div class="card shadow character-card text-white bg-dark">

                    <div class="text-center">
                        <img class="card-img-top img-fluid character-image p-3"
                        src="{{ characters.image }}"
                        alt="Card image cap">
                    </div>

                    <div class="card-body">

                        <h4 class="card-title text-lg-left">
                            {{ characters.name }}
                        </h4>                

                        <p class="card-text text text-sm-left character-text lead">
                            <small class="lead">
                            {{ characters.text }}
                            </small>
                        </p>

                        <div class="card-footer text-muted">
                            Birth: 
                            {{ characters.birth }}
                        </div>

                    </div>

                </div>
                    
            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}