{% extends 'historiaapp/base.html' %}

{% block title %}Card visualizer{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 mb-5">Card visualizer</h1>
        </div>
    </div>
    <div class="col-md-8">
        <div class="cards-list">

                <div class="card 1">
                    <div class="card_image"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Alexander_Fleming_1945.jpg/220px-Alexander_Fleming_1945.jpg" />
                    </div>
                    <div class="card_title title-white">
                        <p>Card Title</p>
                    </div>
                </div>

                <div class="card 4">
                    <div class="card_image">
                      <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
                      </div>
                    <div class="card_title title-black">
                      <p>Card Title</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}