{% extends 'historiaapp/bases/base.html' %}

{% block title %} Quiz {% endblock %}

{% block content %}
<div class="container">

    <h3>Quiz with category : {{cat}}</h3>

    <div class="row">

        {% for quiz in object_list %}
            
            <div class="mb-4 shadow col-sm-6 col-md-6 mt-4 bg-dark">
                <div class="card character-card text-white bg-dark mt-4">
                    <div class="card-body">
                        
                        <h4 class="card-title text-lg-left">
                            {{ quiz.name }}
                        </h4>

                        <p class="card-text lead">
                            <small class="lead">
                            {{ quiz.text }}
                            </small>
                        </p>

                        <div class="card-body">

                            <div class="d-flex justify-content-center mb-5">
                                <button type="button"
                                    class="button-historia text-uppercase lead"
                                    style="max-width:35%;"
                                    onclick="location.href='{% url 'quizs-detail' quiz.id %}'">
                                    Begin
                                </button>
                            </div>

                        </div>

                    </div>
                
                </div>

            </div>

            {% empty %}
            <div>
                <p style="padding-top: 5rem;">No Quiz in this category yet.</p>
            </div>

        {% endfor %}

    </div>

</div>
{% endblock %}