{% extends 'historiaapp/bases/base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}

{% load static %}

<div class="container mx-auto darker">

  <h1 class="display-4 mt-4 mb-5">
    Categories
  </h1>

  <!--  DISPLAY -->
  <div class="card border-0 darker m-4">
    <div class="row darker">

      <!-- for loop section to display all categories -->
      {% for category in object_list %}
      
        <div class="card-body darker col-5 mw-25">
          <div class="p-1 shadow rounded text-white bg-dark">
            <a href="{% url 'quiz-category' category.id %}" class="darker w-50">

              <div class="card-body">
                <h4 class="card-title text-lg-center">
                  {{ category.name }}
                </h4>

                {% if category.image %}
                  <img class="img-fluid mx-auto rounded"
                  src=" {{ category.image.url }}"
                  alt="category">
                {% endif %}
              </div>
              
            </a>
          </div>
        </div>

      {% endfor %}
      
    </div>
  </div>
  <!-- END CATEGORY DISPLAY -->

</div>

{% endblock %}