{% extends 'historiaapp/bases/base.html' %}

{% block title %}
Historia
{% endblock %}

{% block content %}

<div class="container">

    {% if not user.is_authenticated %}

    <div class="col-md-12">
        <h1 class="display-4">
            Dashboard
        </h1>
        <hr/>
    </div>

    <div class="card-body darker">
        <div class="card text-white bg-dark">

            <div class="card-body darker">
                <h4 class="display-5 darker col mt-5">Quizzes:</h4>
                <div class="btn container darker" 
                    onclick="location.href='{% url 'quizs-list' %}'">
                    <div class="row">

                        {% for quiz in quizzes %}
                        
                            <div class="card bg-light shadow character-card text-dark p-3 m-3"
                                style="max-width: 14rem; height: auto;">

                                <div class="bg-light">
                                    <h5 class="card-text">{{ quiz.name }}</h5>

                                    <p class="card-text">{{ quiz.text }}</p>
                                    
                                    <p class="card-text lead">
                                        <small class="lead">
                                            {{ quiz.questions }}
                                        </small>
                                    </p>

                                </div>

                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="card-body darker">
                <h4 class="display-5 darker col mt-4">Cards:</h4>
                <div class="container darker">
                    <div class="row">
                        {% for card in cards %}
                            <div class="card bg-light shadow character-card text-dark p-3 m-3"
                                style="max-width: 14rem; height: auto;">
                                
                                <div class="bg-light">
                                    <h5 class="card-text">{{ card.name }}</h5>
                                    <p class="card-text">{{ card.birth }}</p>
                                </div>

                                {% load static %}

                                <div class="bg-light">                                                  
                                    <a href="{% url 'cards-detail' card.id %}">
                                        <img class="float-right"
                                        src="{% static '../media/images/infos.svg' %}"
                                        width="32" height="32" alt="logo">
                                    </a>
                                </div>

                                <div class="text-center">
                                    <img class="float-center img-fluid character-image rounded mt-3"
                                    src="{{ card.image.url }}"
                                    alt="Card image cap">
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        
            <div class="card-body darker">
                <h4 class="display-5 col mt-5">Questions:</h4>
                <div class="container">
                    <div class="row">

                        <a href="{% url 'questions-list' %}" class="btn btn-dark btn-sm">Liste de questions</a>

                        {% for question in questions %}
                            <div class="card shadow character-card text-dark bg-white p-3 m-3"
                                style="max-width: 14rem;height: auto;">
                                <h5 class="card-text">{{ question.name }}</h5>
                                <p class="card-text">{{ question.text }}</p>                                
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- If user is not connected -->
    {% else %}
        <div class="card-body darker">
            <div class="text-center">
                <h1>Access Denied</h1>
                <button type="submit" value="Login" class="button-historia answer mt-5 mb-5"
                                style="max-width:30%;min-width:10%;" onclick="location.href='{% url 'home' %}'">
                    <div class="lead">
                        <strong>Go to Home Page</strong>
                    </div>
                </button>
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}