{% extends 'historiaapp/bases/base_connected.html' %}

{% block title %}
Historia
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="pt-3">
        <div class="text-center text-light">
            <h1 class="display-4 mt-4 mb-4">
                Welcome {{ user.username }}
            </h1>
        </div>
    
        <div class="darker align-items-center">
            <div class="container">
                <div class="row darker justify-content-center align-items-center">
                    <div class="darker">
                        <div class="card-body darker p-3">
                            
                            <p>Salut</p>

                            <table class="table table-striped table-dark">
                                <thead>
                                  <tr>
                                    <th scope="col">Position</th>
                                    <th scope="col">Quiz</th>
                                    <th scope="col">Name user</th>
                                    <th scope="col">Score</th>
                                    <th scope="col">Date</th>
                                  </tr>
                                </thead>

                            {% for ranking in object_list %}
                                <div class="col-md-4 mb-4">
                                        <tbody>
                                        <tr>
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td>{{ ranking.quiz }}</td>
                                            <td>{{ ranking.score }}</td>
                                            <td>{{ ranking.date }}</td>
                                        </tr>
                                        </tbody>

                                </div>

                                {% empty %}
                                <li>No ranking yet.</li>
                            
                            {% endfor %}

                         </table>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

