{% extends 'historiaapp/base.html' %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

    <div class="bg-light" style="background-color: lightgray;height: 100%; display: flex;">

        <div class="col-md-5 order-md-1" style="width: 40rem;font-size: 2em;font-family: monospace; padding-top: 2em; text-align: center;">
            <p>Sign in</p>
            
            <form action="" method="POST">
                {% csrf_token %}
            
                <div class="form-outline mb-5">
                    {{ form.username|as_crispy_field }}
                </div>


                <div class="form-outline mb-5">
                    {{ form.password|as_crispy_field }}
                </div>


                <div class="text-center">
                    <button type="submit" value="Login" class="button-historia answer mt-5 mb-5"
                                    style="max-width:30%;min-width:10%;">
                        <div class="lead">
                            <strong>Login</strong>
                        </div>
                    </button>
                </div>
            </form>
            
        </div>

        <div class="col-md-7 order-md-2" style="background-image: url( '/static/images/background.png' ); background-size:cover; height: 100%; opacity: 60%;">
            
        </div>
    </div>
{% endblock %}
