{% extends 'historiaapp/bases/base.html' %}

{% block title %}
  {% if object is None %}
    Add question
  {% else %}
    Update question
  {% endif %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_superuser %}

<div class="container mb-4">
  
  <h1 class="display-3 mb-5 p-3 mt-4">
    Create question
  </h1>

  <h5 class="lead mb-4 pb-3 darker border-bottom border-warning">
    Fill all the fields to create your {{ object }}.
  </h5>

  <div class="darker align-items-center">
    <div class="container">
      <div class="row darker justify-content-center align-items-center">
        <div class="darker">
          <div class="card-body darker p-3">

            <form action="" method="post">
              
              {% csrf_token %}

              <div class="form-outline mb-5">
                {{ form.name|as_crispy_field }}
              </div>


              <div class="form-outline mb-5">
                {{ form.text|as_crispy_field }}
              </div>

              
              <div class="row mb-5 p-4 border-bottom border-top border-warning">
                <div class="col-6">
                  {{ form.opt_one|as_crispy_field }}
                </div>
                <div class="col-6">
                  {{ form.opt_two|as_crispy_field }}
                </div>
                <div class="col-6">
                  {{ form.opt_three|as_crispy_field }}
                </div>
                <div class="col-6">
                  {{ form.opt_four|as_crispy_field }}
                </div>
              </div>

              <div class="row mb-5">
                <div class="col-6">
                  {{ form.character|as_crispy_field }}
                </div>
                <div class="col-6">
                  {{ form.answer|as_crispy_field }}
                </div>
              </div>

              <input type="hidden" value="
                
              {% if object is None %}
                Save
                {% else %}
                Update
              {% endif %}"/>

              <div class="text-center">

                <button type="submit" 
                  class="button-historia answer mt-5 mb-5"
                  style="max-width:30%;min-width:10%;">
                  <div class="lead">
                    <strong>Save</strong>
                  </div>
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}

<div class="container text-light darker p-5">

  <h5 class="display-4 mb-4 pb-3 darker border-bottom border-warning">
    You do not have the rights to access this.
  </h5>
  </div>

{% endif %}
{% endblock %}