{% extends 'historiaapp/baselistnav.html' %}

{% block title %}
Questions visualizer
{% endblock %}

{% block content %}

<div class="container text-light darker pt-3">

    <hr>

    <h1 class="display-4 mb-2 p-3">
        Questions
        <a href="{% url 'questions-create' %}" 
        class="btn btn-warning float-right">Create question</a>
    </h1>

    <hr>

    <h5 class="lead mb-4 darker">
        List of questions actually available.
    </h5>

        <!--
        * for loop section to display all quizzes.
        -->

        {% for questions in object_list %}

            <div class="darker">

                {% block script %}
                <script>
                    
                </script>
                {% endblock script %}

                <!--
                    FORM
                -->

                <div class="p-3 mb-2 darker border-bottom border-warning text-white">
                    <div class"card lead">
                        {{ questions.name }}
                    </div>

                    <div class"card lead">
                        {{ questions.text }}
                    </div>

                    <form class="darker" 
                    method="post"
                    name="question_id"
                    action="{% url 'questions-check' %}">

                        {% csrf_token %}

                        <!--
                            OPTION ONE
                        -->

                        <div class="form-check lead darker text-light">
                            <input type="radio"
                            name="option_id"
                            value="{{ questions.options.ONE }}"
                            required>
                            <label class="form-check-label" 
                            for="{{ questions.opt_one }}">  
                                <p class="card-text">
                                    <small>
                                        {{ questions.opt_one }}
                                    </small>
                                </p>
                            </label>
                        </div>

                        <!--
                            OPTION TWO
                        -->

                        <div class="form-check lead darker text-light">
                            <input type="radio" 
                            name="option_id" 
                            value="{{ questions.options.TWO }}" 
                            required>
                            <label class="form-check-label" 
                            for="{{ questions.opt_two }}">  
                                <p class="card-text">
                                    <small>
                                        {{ questions.opt_two }}
                                    </small>
                                </p>
                            </label>
                        </div>

                        <!--
                            OPTION THREE
                        -->

                        <div class="form-check lead darker text-light">
                            <input type="radio" 
                            name="option_id" 
                            value="{{ questions.options.THREE }}" 
                            required>
                            <label class="form-check-label" for="{{ questions.opt_three }}">  
                                <p class="card-text">
                                    <small>
                                        {{ questions.opt_three }}
                                    </small>
                                </p>
                            </label>
                        </div>

                        <!--
                            OPTION FOUR
                        -->

                        <div class="form-check lead darker text-light">
                            <input type="radio" 
                            name="option_id" 
                            value="{{ questions.options.FOUR }}" 
                            required>
                            <label class="form-check-label" for="{{ questions.opt_four }}">  
                                <p class="card-text">
                                    <small>
                                        {{ questions.opt_four }}
                                    </small>
                                </p>
                            </label>
                        </div>

                    <!--
                        ANSWER
                    -->

                        <div class="card-body darker text-light">
                            <p>{{ questions.id }}</p>
                            <button name="btn_{{ questions.id }}" 
                            type="submit"
                            class="btn btn-dark btn-sm">Answer</button>
                        </div>

                        {% if questions.is_correct == 'None' %}
                            <div class="alert alert-warning" role="alert">
                                Not answered! -> {{ questions.is_correct }}
                            </div>
                        {% endif %}

                        {% if questions.is_correct %}
                            <div class="alert alert-success" role="alert">
                                You guessed right! -> {{ questions.is_correct }}
                            </div>
                        {% endif %}
                        
                        {% if not questions.is_correct %}
                            <div class="alert alert-danger" role="alert">
                                You guessed wrong   ! -> {{ questions.is_correct }}
                            </div>
                        {% endif %}

                    </form>
                </div>

                <div class="card-body">
                    <a href="{% url 'questions-detail' questions.id %}" class="btn btn-primary btn-sm">Details</a>
                    
                    <a href="{% url 'questions-update' questions.id %}" class="btn btn-success btn-sm">Update</a>
                    
                    <a href="{% url 'questions-delete' questions.id %}" class="btn btn-warning btn-sm">Delete</a>        
                </div>


            </div>

        {% endfor %}

    <div class="container ">

     
    </div>


{% endblock %}