{% extends 'historiaapp/bases/base_detailnav.html' %}

{% block title %}
    {% if object is None %}
        Add quiz
    {% else %}
        Update quiz
    {% endif %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <hr>

    <h1 class="display-3 mb-5 p-3">
        Create quiz
    </h1>

    <h5 class="lead mb-4 pb-3 darker border-bottom border-warning">
        Fill all the fields to create your {{ object }}.
    </h5>

    <div class="darker align-items-center">
        <div class="container">
            <div class="row darker justify-content-center align-items-center">
                <div class="darker">
                    <div class="card-body darker p-3">

                        <form action="" method="post">
                            
                            {% csrf_token %}

                            <div class="form-outline mb-5">
                                {{ form.name|as_crispy_field }}
                            </div>


                            <div class="form-outline mb-5">
                                {{ form.text|as_crispy_field }}
                            </div>


                            <div class="form-outline mb-5">
                                {{ form.questions|as_crispy_field }}
                            </div>

                            <div class="form-outline mb-5">
                                {{ form.is_over|as_crispy_field }}
                            </div>

                            <input type="hidden" value="
                                
                            {% if object is None %}
                                Save
                                {% else %}
                                Update
                            {% endif %}"/>

                            <div class="text-center">

                                <button type="submit" 
                                    class="button-historia answer mt-5 mb-5"
                                    style="max-width:30%;min-width:10%;">
                                    <div class="lead">
                                        <strong>Save</strong>
                                    </div>
                                </button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}