{% extends 'historiaapp/bases/base.html' %}

{% block title %}Quizzes visualizer{% endblock %}

{% block content %}

<div class="container">
  <hr />

  <h1 class="display-4 mt-4 mb-2">
    Quizzes
  </h1>

  <hr />

  <div class="card border-0 darker mt-4">

    <div class="card-body darker">

      <div class="card-header mb-4">
        List of Quizzes actually available.
      </div>

      <div class="card-deck d-flex justify-content-center">
        
        <!-- Loop to display all quizs -->
        {% for quizs in page_obj %}

          <div class="card bg-dark mb-4">
            <div class="mw-70 shadow character-card text-white bg-dark">
              <div class="card-body">
                
                <h4 class="card-title text-lg-left">
                  {{ quizs.name }} ( {{ quizs.category.name }} )
                </h4>

                <p class="card-text lead">
                  <small class="lead">
                  {{ quizs.text }}
                  </small>
                </p>

                <div class="card-header">
                  <p class="card-text lead font-weight-bold">
                    Questions
                  </p>

                  <!-- QUESTIONS DISPLAY -->

                  <div class="card-body" width="">

                    {% for question in quizs.questions.all %}

                      {% if forloop.counter < 4 %}

                        <p class="card-text">
                          {{ question.id }}.
                          {{ question.text }}
                        </p>

                      {% elif forloop.last %}

                        <p class="card-text">
                          ... and {{ forloop.counter }} more questions.
                        </p>

                      {% else %}

                      {% endif %}

                    {% endfor %}

                    <div class="d-flex justify-content-center mb-5">
                      <button type="button"
                        class="button-historia text-uppercase lead"
                        style="max-width:35%;"
                        onclick="location.href='{% url 'quizs-detail' quizs.id %}'">
                        Begin
                      </button>
                    </div>

                  </div>
                  
                  <!-- END QUESTIONS DISPLAY -->
                  
                </div>

              </div>
            
            </div>

          </div>

        {% endfor %}

        <!-- END QUESTIONS DISPLAY -->

      </div>

      
      <!-- PAGINATION -->

      <div class="d-flex justify-content-center darker">

        <nav aria-label="pagination navbar navbar-dark darker">

          <ul class="pagination navbar darker">

            {% if page_obj.has_previous %}

              <li class="page-item darker">
                <a class="page-link darker" href="?page=1">
                  &laquo; first
                </a>
              </li>

              <li class="page-item darker">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                  {{ page_obj.previous_page_number }}
                </a>
              </li>

            {% endif %}
            
            <li class="page-item active">
              <a class="page-link" href="#">
                {{ page_obj.number }}
              </a>
            </li>
        
            {% if page_obj.has_next %}

              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                  {{ page_obj.next_page_number }}
                </a>
              </li>

              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                  last &raquo;
                </a>
              </li>

            {% endif %}            
          </ul>
        </nav>
      </div>

      <!-- END PAGINATION -->

    </div>

  </div>

{% endblock %}