{% extends 'historiaapp/bases/base.html' %}

{% block title %} Try | {{ quiz }} {% endblock %}

{% block tryit %}

<div class="m-3 ml-5">
  <a class="btn btn-primary btn-lg bi bi-chevron-double-right" 
  data-toggle="collapse"
  href="#try-quiz" 
  role="button" 
  aria-expanded="false" 
  aria-controls="try-quiz">
  </a>
</div>
<div class="collapse" id="try-quiz">
  <div class="container">
    <div class="card-deck d-flex justify-content-center">
      <div class="card darker border-0 character-card text-white">
        <div class="card-body darker">
          <div class="card-body bg-dark p-3 mb-4 rounded">
            <div class="row">

              <div class="col">

                <h4 class="card-title text-lg-left">
                  {{ quiz.id }}. {{ quiz.name }}
                </h4>
                
                <div class="card-text p-2 w-auto border-bottom border-info rounded mt-2 mb-2">
                  <p class="lead">Category: {{ quiz.category.name }} </p>
                </div>

                <p class="card-text lead">
                  {{ quiz.text }}
                </p>
                </div>
                <div class="col">
                  <div class="d-flex justify-content-center">
                    
                    <h4 class="card-title text-lg-left" id="score">
                      Last score:
                    </h4>

                    <div class="card-body d-flex justify-content-center">
                      <div class="rating" id="r"></div>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="card-header">
              <p class="display-4 card-text lead">Questions:</p>
            </div>


            <!-- QUESTIONS DISPLAY -->
            
            <div class="card border-0 rounded mt-2">

              <div class="card-body darker">

                {% for questions in quiz.questions.all %}


                <div class="p-3 mb-2 darker border-bottom border-warning text-white">

                  <div class"card lead">

                  <div class="h3">
                    {{ questions.name }}
                  </div>
            
                  <div class="row">
                    <div class="col-">
                      <div class="lead text-light">
                        {{ questions.text }}
                      </div>
                        <!-- OPTIONS -->
                        <div class="col-sm">
                        <!-- OPTION ONE -->
                        <div class="form-check darker text-light mt-3 mb-3">
                          <input type="radio"
                          name="{{ questions.id }}"
                          id="{{ questions.answer }}"
                          value="{{ questions.options.ONE }}"
                          required>
                          <label class="form-check-label"
                          for="{{ questions.opt_one }}">
                          <p class="card-text">
                            {{ questions.opt_one }}
                          </p>
                          </label>
                        </div>
                        <!-- OPTION TWO -->
                  
                        <div class="form-check darker text-light mt-3 mb-3">
                          <input type="radio"
                          name="{{ questions.id }}"
                          id="{{ questions.answer }}"
                          value="{{ questions.options.TWO }}"
                          required>
                          <label class="form-check-label" 
                          for="{{ questions.opt_two }}">  
                          <p class="card-text">
                            {{ questions.opt_two }}
                          </p>
                          </label>
                        </div>
                        <!-- OPTION THREE -->
                        <div class="form-check darker text-light mt-3 mb-3">
                          <input type="radio"
                          name="{{ questions.id }}"
                          id="{{ questions.answer }}"
                          value="{{ questions.options.THREE }}" 
                          required>
                          <label class="form-check-label" 
                          for="{{ questions.opt_three }}">  
                          <p class="card-text">
                            {{ questions.opt_three }}
                          </p>
                          </label>
                        </div>
                        <!-- OPTION FOUR -->
                        <div class="form-check darker text-light mt-3 mb-3">
                          <input type="radio"
                          name="{{ questions.id }}"
                          id="{{ questions.answer }}"
                          value="{{ questions.options.FOUR }}" 
                          required>
                          <label class="form-check-label" 
                          for="{{ questions.opt_four }}">  
                          <p class="card-text">
                            {{ questions.opt_four }}
                          </p>
                          </label>
                        </div>
                      </div>
            

                      <!-- END OPTIONS -->
            
                      <!-- CARD REWARD -->
                      <div class="col-6 m-3 ml-5">
                        <a class="btn btn-secondary btn-lg bi bi-person-badge-fill" 
                        data-toggle="collapse"
                        href="#card" 
                        role="button" 
                        aria-expanded="false" 
                        aria-controls="card">
                        </a>
                      </div>
                      <div class="collapse" id="card">
                        <div class="row">

                          <div class="card-body bg-dark rounded p-3 m-2">

                            <div class="row">

                              {% if questions.character.image %}
                              <div class="col-4 text-center rounded m-1"
                                style="max-width:18rem;">
                                  <img class="float-center img-fluid character-image rounded"
                                  src="{{  questions.character.image.url }}"
                                  alt="Card image cap">
                              </div>
                              {% endif %}

                              <div class="col-7 lead m-1 p-3 text-dark darker rounded">

                                <h4 class="card-header text-lg-left bg-dark mb-3 text-light">
                                  {{ questions.character.name }}
                                </h4>
                                <div class="card-group">

                                  <div class="card-body bg-dark m-2 rounded text-light">
                                    <h4 class="card-text">
                                      Period historic:
                                    </h4>
                                    <p class="card-text">
                                      {{ questions.character.historicPeriod }}
                                    </p>
                                  </div>

                                  <div class="card-body bg-dark m-2 rounded text-light">
                                    <div class="card-text">
                                      <div class="font-weight-bold">Domain: </div>
                                    </div>
                                    <p class="font-weight-normal text-info">{{ questions.character.domain }}</p>
                                  </div>

                                </div>

                                <div class="card-group text-light">
                                  <div class="card-body">
                                    <h4 class="card-text">
                                      Category: 
                                    </h4>
                                    <p class="card-text">
                                      {{ questions.character.category }}
                                    </p>
                                  </div>
                                  <div class="card-body">
                                    <div class="card-text">
                                      <div class="font-weight-bold">Birth: </div>
                                    </div>
                                    <p class="font-weight-light">{{ questions.character.birth }}</p>
                                  </div>
                                  <div class="card-body">
                                    <h4 class="card-text">
                                      Land: 
                                    </h4>
                                    <p class="card-text">
                                      {{ questions.character.land }}
                                    </p>
                                  </div>
                                </div>

                                <p class="card-text text-light">
                                  {{ questions.character.text }}
                                </p>
                                
                              </div>
                            
                            </div>
                          </div>
                          
                        </div>
                      </div>

                      </nav>

                      <!-- END CARD REWARD -->

                    </div>
            
                  </div>

                  </div>
                  
                </div>
                
                {% endfor %}

                <!-- SUBMIT ANSWER -->
                <div class="col-">
                  <div class="d-flex justify-content-center mb-5 mt-4 p-4">
                  <button type="button"
                    onclick="check()"
                    class="button-historia answer text-uppercase mr-2" 
                    style="width: 25%;">
                    <i class="bi bi-app"></i>
                  </button>
                </div>
              </div>

              <a href="#score" class="btn btn-primary float-right"><i class="bi bi-arrow-up"></i></a>
                <!-- END SUBMIT ANSWER -->

              </div>
              <!--content here-->
              <!-- END QUESTIONS DISPLAY -->

            </div>

            <!-- END QUESTIONS DISPLAY -->

            {% block scripts %}
            <script>

              function check() {

                var result = 0;
                var radios = document.getElementsByTagName('input');

                for(i = 0; i < radios.length; i++) {
                  if(radios[i].checked) {
                    if(radios[i].id == radios[i].value) {
                      result += 1;
                    }
                  }
                }

                result = (result * 100.0) / (radios.length / 4.0);

                document.getElementById("r").innerHTML = result;
                document.querySelectorAll(".rating")
                  .forEach((rating) => {
                    const scoreClass = parseInt(rating.innerHTML, 10) < 40 ? "bad" : parseInt(rating.innerHTML, 10) < 60 ? "meh" : "good";

                    rating.classList.add(scoreClass);

                    const ratingColor = window.getComputedStyle(rating).backgroundColor;

                    const gradient = `background: conic-gradient(${ratingColor}
                      ${parseInt(rating.innerHTML, 10)}%, transparent 0 100%)`;

                      rating.setAttribute("style", gradient);

                      rating.innerHTML = `<span>${parseInt(rating.innerHTML, 10)}
                        ${rating.innerHTML.indexOf("%") >= 0 ? "<small>%</small>" : ""}</span>`;
                  }
                );
              }
            </script>
          {% endblock %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}