{% extends 'historiaapp/bases/base.html' %}

{% block title %} Details | {{ quiz }} {% endblock %}

{% block content %}
<div class="container">

    <div class="card-deck d-flex justify-content-center">
            
            <div class="mb-4">

                <div class="card shadow character-card text-white bg-dark">
                    
                    <div class="card-body">
                        
                        <h4 class="card-title text-lg-left">
                            {{ quiz.id }}. {{ quiz.name }}
                        </h4>
                        
                        <p class="card-text lead">
                            {{ quiz.text }}
                        </p>
                        
                        <div class="card-header">
                            <p class="card-text lead">
                                Questions :
                            </p>
                        </div>

                        <!-- QUESTIONS DISPLAY -->
                        
                        <div class="card border-0 rounded mt-4">
                            
                            <div class="card-body darker">

                                <!-- FORM -->

                                <form class="darker mt-3 mb-3 p-2" 
                                method="post"
                                name="question_id"
                                action="{% url 'quizs-check' %}">

                                {% csrf_token %}

                                    {% for questions in quiz.questions.all %}
                                    
                                        <div class="p-3 mb-2 darker border-bottom border-warning text-white">

                                            <div class"card lead">

                                                <div class="h3">
                                                    {{ questions.name }}
                                                </div>
                        
                                                <div class="row">
                        
                                                    <div class="col-sm">
                        
                                                        <div class="lead text-light">
                                                            {{ questions.text }}
                                                        </div>

                                                        <!-- OPTIONS -->

                                                        <div class="col-sm">

                                                            <!-- OPTION ONE -->
                                                            <div class="form-check darker text-light mt-3 mb-3">
                                                                <input type="radio"
                                                                name="{{ questions.id }}"
                                                                value="{{ questions.options.ONE }}"
                                                                required>
                                                                <label class="form-check-label"
                                                                    for="{{ questions.opt_one }}">
                                                                    <p class="card-text">
                                                                        {{ questions.opt_one }}
                                                                    </p>
                                                                </label>
                                                            </div>
                                    
                                                            <!-- OPTION TWO -->
                                    
                                                            <div class="form-check darker text-light mt-3 mb-3">
                                                                <input type="radio" 
                                                                name="{{ questions.id }}"
                                                                value="{{ questions.options.TWO }}"
                                                                required>
                                                                <label class="form-check-label" 
                                                                    for="{{ questions.opt_two }}">  
                                                                    <p class="card-text">
                                                                        {{ questions.opt_two }}
                                                                    </p>
                                                                </label>
                                                            </div>
                                    
                                                            <!-- OPTION THREE -->
                                    
                                                            <div class="form-check darker text-light mt-3 mb-3">
                                                                <input type="radio" 
                                                                name="{{ questions.id }}"
                                                                value="{{ questions.options.THREE }}" 
                                                                required>
                                                                <label class="form-check-label" 
                                                                    for="{{ questions.opt_three }}">  
                                                                    <p class="card-text">
                                                                        {{ questions.opt_three }}
                                                                    </p>
                                                                </label>
                                                            </div>
                                    
                                                            <!-- OPTION FOUR -->
                                    
                                                            <div class="form-check darker text-light mt-3 mb-3">
                                                                <input type="radio" 
                                                                name="{{ questions.id }}"
                                                                value="{{ questions.options.FOUR }}" 
                                                                required>
                                                                <label class="form-check-label" 
                                                                    for="{{ questions.opt_four }}">  
                                                                    <p class="card-text">
                                                                        {{ questions.opt_four }}
                                                                    </p>
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <!-- END OPTIONS -->

                                                        <!-- CARD REWARD -->
                                                        {% if questions.is_correct %}

                                                        <nav class="navbar navbar-expand-lg navbar-light">
                                                            
                                                            <button class="navbar-toggler" 
                                                            type="button" 
                                                            data-toggle="collapse" 
                                                            data-target="#navbarSupportedContent" 
                                                            aria-controls="navbarSupportedContent" 
                                                            aria-expanded="false" 
                                                            aria-label="Toggle navigation">
                                                                <span class="bi bi-person-badge-fill"></span>
                                                            </button>

                                                            <div class="collapse navbar-collapse col-sm float-right transition m-2"
                                                                id="navbarSupportedContent">
                                                                
                                                                <div class="darker text-light small p-2">
                                                                    <div class="card darker p-1 m-1">
                                                                        <div class="row">
                                                                            <div class="col- text-center rounded m-3"
                                                                                style="max-width:10rem;">
                                                                                <img class="float-center img-fluid character-image rounded"
                                                                                src="../../{{ questions.character.image }}"
                                                                                alt="Card image cap">
                                                                            </div>

                                                                            <div class="col-sm card m-3 p-3 text-dark character-text-reward">
                                                    
                                                                                <h4 class="card-title text-dark text-lg-left character-text-reward">
                                                                                    {{ questions.character.name }}
                                                                                </h4>                
                                                    
                                                                                <p class="card-text text-dark text-sm character-text-reward">
                                                                                    <small>
                                                                                    {{ questions.character.text }}
                                                                                    </small>
                                                                                </p>
                                                    
                                                                                <div class="card-footer text-muted character-text-reward">
                                                                                    Birth: 
                                                                                    {{ questions.character.birth }}
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </nav>
                                                        {% endif %}
                                                        <!-- END CARD REWARD -->
                        
                                                        <div class="d-flex justify-content-center mb-4 mt-4">
                                                            {% if questions.is_correct %}
                                                                <div class="alert alert-success float-right"
                                                                    role="alert">
                                                                    You guessed right!
                                                                </div>
                                                            {% endif %}
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                            
                                        </div>
                                    
                                    {% endfor %}

                                    <input type="hidden"
                                    name="quiz_id"
                                    value="{{ quiz.id }}">

                                    <!-- SUBMIT ANSWER -->
                                    <div class="col-">
                                        <div class="d-flex justify-content-center mb-5 mt-4 p-4">
                                            <button type="submit"
                                                class="button-historia answer text-uppercase mr-2" 
                                                style="width: 25%;">
                                            <i class="bi bi-app"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- END SUBMIT ANSWER -->

                                </form>
                                
                                <!-- END FORM -->

                            </div>
                        
                        </div>
                            
                        <!-- END QUESTIONS DISPLAY -->
                    </div>

                </div>

            </div>
    </div>

</div>
{% endblock %}