{% extends 'historiaapp/base.html' %}
{% load static %}

{% block content %}
<div style="background-image: url( '/static/images/background.png' ); color:black; background-size:cover; height: 100%;">
    <div class="bg-light col-md-9 order-md-1 row featurette" style="background-color: lightgray;margin-left: 10rem;margin-right: 10rem; height: 100%; opacity: 85%;">
        <div class="col-md-7 order-md-1" style="font-size: 2em;font-family: monospace;margin-top: 5rem;">
            <p>Welcome</p>
            <br>
            <p>Please,
            <br>
            <br>
            if you are not registered yet, kindly register to access a new world of knowledges.
            <br>
            Else, you can sign in.
        </div>

        <div class="col-md-5 order-md-2" style="font-size: 1.5em; font-family: monospace;margin-top: 5rem;">
            <form class="form-group" method="post" action="{% url 'addUser' %}"> 
                {% csrf_token %}
                <div style="margin-bottom: 1em;">
                    <input class="form-control" type="text" id="pseudo" name="pseudo" placeholder="Create username">
                </div>
                <div style="margin-bottom: 1em;">
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password">
                </div>
                <div style="margin-bottom: 1em;">
                    <input class="form-control" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm password">
                </div>
                
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %} 
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div style="margin-bottom: 1em;">
                    <input type="submit" value="Register" />
                </div>

                <div>
                    <a href="{% url 'login' %}" class="btn btn-sm btn-secondary" type="button">Sign in</a>
                <div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
