{% extends 'historiaapp/bases/base.html' %}

{% block unauthenticated %}

{% load static %}
{% load crispy_forms_tags %}

<div class="container">
  <div class="text-center lead">
    <p class="display-4 mt-4 mb-4 font-weight-light">Welcome</p>
    <div class="mx-auto col-6 mt-4 mb-4">
    
      <!-- Register form -->
      <form action="" method="POST">
        {% csrf_token %}
        <div id="form-errors">{{ form_errors }}</div>
      
        <div class="form-outline mb-5">
          {{ form.username|as_crispy_field }}
        </div>


        <div class="form-outline mb-5">
          {{ form.password1|as_crispy_field }}
        </div>

        <div class="form-outline mb-5">
          {{ form.password2|as_crispy_field }}
        </div>

        <input type="hidden" value="        
          {% if object is None %}
            Save
          {% endif %}"/>

        <div class="text-center">
          <button type="submit" value="Register" class="button-historia answer mt-5 mb-5"
          style="max-width:30%;min-width:35%;">
            <div class="lead">
              <strong>Register</strong>
            </div>
          </button>
        </div>
      </form>
      <!-- End form -->
      
      <div class="text-center text-light">
        <h1 class="lead mt-4 mb-4">
          Or
        </h1>
      </div>
        
      <!-- Button to sign in -->
      <div class="d-flex justify-content-center mb-5">
        <button type="button" 
          class="button-historia text-uppercase lead"
          style="max-width:40%;min-width:35%;"
          onclick="location.href='{% url 'login' %}'">
          Sign in
        </button>
      </div>

    </div>
  </div>
</div>
{% endblock %}
