/******************************************************
* 
*   Character card style used with bootstrap
*   template.
*   Mainly used inn card_list.html.
*
*/  

.character-image {
  height:auto;
  max-width:100%;
}

.darker {
  background-color:#1c1c1c;
}

.whiter {
  background-color: #d1d1d1;
}

.character-card {
  color:#1c1c1c;
  max-width: 100%;
  /*height: 100%;*/
  border-radius: 1.25rem;
}

.character-text {
  font-size: max(1vw, 16px);
}

.character-text-reward {
  font-size: max(1vw, 16px);
}

.text {
  color: rgba(0, 0, 0, 0);
}

.text:hover {
  color: azure;
}

.all-cards {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one-card {
  display: table-cell;
  margin: 0;
  padding: 0;
  height: fit-content;
}

.image-card {
  width: 80% !important;
}

/****************************************************
* 
*   Style for sign up form.
*
*/ 

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}