.text {
  color: rgba(0, 0, 0, 0);
}

.text:hover {
  color: azure;
}

@media all and (max-width: 400px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
